:root {
  --primary-color: ;
  --secondary-color: ;
  --background-color: ;
  --font-size: ;
  --font-color: ;
  --heading-font: ;
  --body-font: ;
  --spacing: ;
  --default-padding: ;
  --default-border-radius: ;
  --p-size: ;
  --h2-size: ;
  --img-size: ;
}
